app = "iaalearn-cold-cloud-8490"
primary_region = "cdg"

[build]

[env]
  NODE_ENV = "production"
  PORT = "3001"
  DEMO_MODE = "true"

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
